{%spaceless%}
    <section class="four-img four-img--{{ page.currentPosition }} four-img--{{ page.slug }}">
        {% if page.header.section.display_title %}
            <div class="sct-four-img__title sct-title txt"><h2>{{ page.title }}</h2></div>
        {% endif %}

    {% for img in page.media.images %}

        <div class="sct-four-img__img sct-four-img__img--{{ loop.index }}">
            {{ img.cropZoom(grid_width(1, true), grid_height(2, true)).grayscale.html | raw }}
      </div>

      {# {% set w_maximum = config.theme.grid.maximum.width %} #}
      {# {% set h_maximum = config.theme.grid.maximum.height * 2 %} #}
      {# {{ img.lightbox.cropZoom(w_maximum, h_maximum).html(false, false, "four-img__img") }} #}
      {# {{ img.cropZoom(218,308).html(false, false, "one-img__img") }} #}
    {% endfor %}
  {# </div> #}
  <div class="sct-four-img__txt txt">{{ page.content | raw }}</div>
</section>
{%endspaceless%}
